
<div id="page-wrapper">
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Relatórios Disponíveis</h3>
    </div>
</div>

<div class="row ng-hide" ng-show="haveError">
    <div class="col-sm-12 ">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>Desculpe-nos!</strong> Mas não foi possível
            carregar os imóveis. Tente novamente!
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row" ng-hide="haveError">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Relatórios
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4" style="cursor: pointer">
                        <div class="tile-stats tile-red" ng-click="abrirFormularioAluguel()">
                            <div class="icon"><i class="entypo-gauge"></i></div>
                            <div class="num">1</div>
                            <h3>Alugueis</h3>
                            <p>Emita relatórios dos seus alugueis.</p></div>
                    </div>
                    <div class="col-sm-4" style="cursor: pointer">
                        <div class="tile-stats tile-aqua" ng-click="abrirFormularioDespesa()">
                            <div class="icon"><i class="entypo-mail"></i></div>
                            <div class="num">2</div>
                            <h3>Despesas</h3>
                            <p>Emita relatórios de suas despesas.</p></div>
                    </div>
                    <div class="col-sm-4" style="cursor: pointer">
                        <div class="tile-stats tile-blue" ng-click="abrirFormularioIndenizacao()">
                            <div class="icon"><i class="entypo-suitcase"></i></div>
                            <div class="num">3</div>
                            <h3>Indenizações</h3>
                            <p>Emita relatórios de suas indenizações.</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="cursor: pointer">
                        <div class="tile-stats tile-green" ng-click="abrirFormularioImovel()">
                            <div class="icon"><i class="entypo-suitcase"></i></div>
                            <div class="num">4</div>
                            <h3>Imóveis</h3>
                            <p>Emita relatórios de imóveis.</p></div>
                    </div>
                    <div class="col-sm-4" style="cursor: pointer">
                        <div class="tile-stats tile-orange" ng-click="abrirFormularioLocatario()">
                            <div class="icon"><i class="entypo-suitcase"></i></div>
                            <div class="num">5</div>
                            <h3>Locatários</h3>
                            <p>Emita relatórios de locatários.</p></div>
                    </div>
                </div>

                <hr>
                <p class="text-center">
                    <strong>Escolha um relatório acima</strong>
                </p>

                <form action="get" role="form" ng-if="formularioDespesa">

                    <div class="form-group">
                        <label for="mes">Tipo de Despesa: </label>
                        <select class="form-control"
                                id="tipo"
                                ng-model="formulario.tipo"
                                ng-options="tipo as tipo.nome for tipo in tipos_despesas track by tipo.id"
                                name="tipo">
                            <option value="" selected="selected">Todos</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ano">Ano: </label>
                        <select class="form-control" id="ano" ng-model="formulario.ano" name="ano" >
                            <option selected value="">Todos</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="mes">Mês: </label>
                        <select class="form-control"
                                id="mes"
                                ng-model="formulario.mes"
                                ng-options="mes as mes.nome for mes in meses track by mes.id"
                                name="mes">
                            <option value="" selected="selected">Todos</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <button type="button" ng-click="getRelatorioDespesas(formulario.mes, formulario.ano,formulario.tipo)" class="btn btn-primary">Gerar</button>

                    </div>
                </form>

                <!-- RELATÓRIO DE DESPESAS -->
                <div class="panel panel-primary" ng-if="relatorio">
                    <div class="panel-heading">
                        <h4 class="text-center">Relatório de Despesas</h4>
                    </div>
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th class="text-center">Descrição</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Mês</th>
                            <th class="text-center">Ano</th>
                            <th class="text-center">Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="despesa in relatorio">
                            <td class="text-center">{{despesa.descricao}}</td>
                            <td class="text-center">{{despesa.tipo_despesa}}</td>
                            <td class="text-center">{{despesa.mes}}</td>
                            <td class="text-center">{{despesa.ano}}</td>
                            <td class="text-center">{{despesa.valor}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /#page-wrapper -->


</div>