

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Início</h3>
    </div>

</div>

<div class="row ng-hide" ng-show="haveError">
    <div class="col-sm-12 ">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>Desculpe-nos!</strong> Não foi possível
            carregar os contratos. Tente novamente!
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{quantitativos.qtdAlugueisMes}}</div>
                        <div>Alugueis do mês</div>
                    </div>
                </div>
            </div>
            <a href="#/alugueis-mes">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{quantitativos.qtdAlugueisAtrasados}}</div>
                        <div>Alugueis atrasados</div>
                    </div>
                </div>
            </div>
            <a href="#/alugueis-atrasados">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{quantitativos.qtdContratosVencidos}}</div>
                        <div>Contratos vencidos</div>
                    </div>
                </div>
            </div>
            <a href="#/contratos-vencidos">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- /#page-wrapper -->


